{% extends 'layout0.html' %}
{% block title %}
Topological Phonon Database
{% endblock %}

{% block head %}
<meta charset="UTF-8" />
<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">
<title>TPDB | Home</title>

<!-- CSS -->
<link rel="stylesheet" href="/static/css/core.min.css" />
<!-- JS -->
<script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="js/jquery.tm.counter.min.js"></script>

{% endblock %}

{% block content %}
<div class="container">
	<div class="col-md-12">

	<!-- CAROUSEL BLOCK -->
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
			  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			  <li data-target="#myCarousel" data-slide-to="1"></li>
			  <li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner">
			  <div class="item active">
				<img src="/static/images/splash.png" alt="© Topological Phonon Database">
			  </div>

			  <div class="item">
				<img src="/static/images/CeCuSi.png" alt="CeCuSi" id="slide1">
				<a href="/default/materials/mp-1226620">
					<div class="carousel-caption">
						<h1>CeCuSi</h1>
						<p><b>Space group:</b> P-6m2 | <b>Prototype:</b> BaLiP</p>
					</div>
				</a>
			  </div>

			  <div class="item">
				<img src="/static/images/IrTc.png" alt="IrTc" id="slide2">
				<a href="/default/materials/mp-1217409">
					<div class="carousel-caption">
						<h1>IrTc</h1>
						<p><b>Space group:</b> P-6m2 | <b>Prototype:</b> Bh-WC</p>
					</div>
				</a>
			  </div>
			</div>

			<!-- Left and right controls -->
			<a class="left carousel-control" href="#myCarousel" data-slide="prev">
			  <span class="glyphicon glyphicon-chevron-left"></span>
			  <span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#myCarousel" data-slide="next">
			  <span class="glyphicon glyphicon-chevron-right"></span>
			  <span class="sr-only">Next</span>
			</a>
		</div>

	<!-- STATISTICS BLOCK -->
		<div id="stats-block">
			<div class="row">
				<div class="column width-12">
					<div class="row content-grid-4" id="stat-top">
						<div class="grid-item">
							<div class="counter-wrapper">
								<p class="counter"><span class="stats-1" data-count-from="4964" data-count-to="	5014" >	5014</span></p>
								<p>MATERIALS</p>
							</div>
						</div>
						<div class="grid-item">
							<div class="counter-wrapper">
								<p class="counter"><span class="stats-1" data-count-from="1167" data-count-to="1267" >1267</span></p>
								<p>STRUCTURAL PROTOTYPES</p>
							</div>
						</div>
						<div class="grid-item">
							<div class="counter-wrapper">
								<p class="counter"><span class="stats-1" data-count-from="1" data-count-to="152" >152</span></p>
								<p>SPACE GROUPS</p>
							</div>
						</div>
						<div class="grid-item">
							<div class="counter-wrapper">
								<p class="counter"><span class="stats-1" data-count-from="1" data-count-to="323" >323</span></p>
								<p>MATERIALS with CLEAN TP STATES</p>
							</div>
						</div>
					</div>
					<div class="row content-grid-4" id="stat-bot">
						<div class="grid-item">
							<div class="counter-wrapper">
								<p class="counter"><span class="stats-1" data-count-from="417365" data-count-to="	417565" >	417565</span></p>
								<p>NODAL LINES</p>
							</div>
						</div>
						<div class="grid-item">
							<div class="counter-wrapper">
								<p class="counter"><span class="stats-1" data-count-from="412900" data-count-to="413164" >413164</span></p>
								<p>NODAL RING POINTS</p>
							</div>
						</div>
						<div class="grid-item">
							<div class="counter-wrapper">
								<p class="counter"><span class="stats-1" data-count-from="39000" data-count-to="39288" >39288</span></p>
								<p>WEYL POINTS</p>
							</div>
						</div>
						<div class="grid-item">
							<div class="counter-wrapper">
								<p class="counter"><span class="stats-1" data-count-from="4666" data-count-to="5016" >5016</span></p>
								<p>MULTI-NODAL POINTS</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	<!-- CALL TO ACTION BLOCK -->
		<div class="container-fluid">
			<div class="row">
			<div class="col-sm-8">
				<h1>Over 5,000 entries...</h1>
				<h3>Inteactive 3-D models and dynamic graphs</h3>
			</div>
			<div class="col-sm-4">
				<a href="/default/search">
					<button class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-search logo"></span>&nbsp;&nbsp;Search now</button>
				</a>
			</div>
			</div>
		</div>
	</div>
</div>

<!-- Js -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/static/js/timber.master.min.js"></script>
<script>
	$( document ).ready( function(){
		$( '.stats-1' ).counter();
		$( '.stats-2' ).counter({
			autoStart: false
		});
		$( '.horizon' ).horizon({
			recurring: true,
			inView: function(){	
				$( '.stats-2' ).each( function(){
					var counter = $( this ).data( 'counter' );
					counter.startCounter();
				});
			},
			outOfView: function(){
				$( '.stats-2' ).each( function(){
					var counter = $( this ).data( 'counter' );
					counter.clearCounter();
				});
			}
		});
	});
</script>
{% endblock content %}
