{% block head %}
<meta charset="UTF-8" />
<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">
<title>Home</title>

<!-- CSS -->
<link rel="stylesheet" href="/static/style.css" />
<!-- JS -->
<script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="js/jquery.tm.counter.min.js"></script>

{% endblock %}

{% block content %}
<div class="construction-image">
	<div class="construction-text">
	  <h1>Under Construction</h1>
	  <p>Check back soon</p>
	</div>
  </div>
{% endblock content %}
