<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width-device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/static/favicon.png" />
  
{% include 'js.html' %}
{% include 'style.html' %}
{% block head %}
{% endblock %}

    <title>{% block title %}{% endblock %}</title>

  </head>

  <body {% block BodySettings %}{% endblock %}>
    <!-- COLLAPSABLE NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-top" data-offset-top="197">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/default/home"><img src="/static/images/nav-logo.png"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/default/home">Home</a></li>
            <li><a href="/default">Search</a></li>
            <li><a href="/default/news">News</a></li>
            <li><a href="https://arxiv.org">Citation</a></li>
            <li><a href="https://github.com/qzhu2017/Topo_phonon">Source Code</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <p class="top-pushdown">&nbsp;</p>

{% block content %}
{% endblock %}

</body>

<footer>&copy; Copyright 2020, based on <a href='https://wiki.fysik.dtu.dk/ase/ase/db/db.html'>ASE database tool</a></footer>
</html>
