<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width-device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/static/favicon.png" />

{% include 'js.html' %}
{% include 'style.html' %}
{% block head %}
{% endblock %}

    <title>{% block title %}{% endblock %}</title>

  </head>

  <body {% block BodySettings %}{% endblock %}>

    <div class="container" style="padding: 0px;">
      <div class="row">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
              <a href="/default">
                <img src="/static/nav-logo.png" class="nav navbar-nav navbar-left" height="45px">
              </a>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/{{ project }}/">Home</a></li>
              <li><a href="/default">Search</a></li>
              <li><a href="/default/news">News</a></li>
              <li><a href="https://arxiv.org">Citation</a></li>
              <li><a href="https://github.com/qzhu2017/Topo_phonon">Source code</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div> <!--end of container-->

{% block content %}
{% endblock %}

</body>

<footer align="center">&copy; Copyright 2019 Stanley Baronett and Qiang Zhu based on <a href='https://wiki.fysik.dtu.dk/ase/ase/db/db.html'>ASE database tool</a></footer>
</html>
