{% extends 'layout.html' %}
{% block title %}
TPDB | News
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div class="container">
	<div class="col-md-12">
		<img src="/static/images/news.jpg" id="banner" alt="News">
		<div class="text-block">
			<h1>News</h1>
			<p>The latest news from the Topological Phonon Database</p>
		</div>
		<table class="table table-striped">
			<th>Date</th>
			<th>Headline</th>
			<tr>
				<td>2020/06/01 </td>
				<td><font color="#B01F24">Preprint</font> <br />
					Jiangxu Li, Jiaxi Liu, Stanley A. Baronett, Ronghan Li, Lei Wang, Qiang Zhu, Xing-Qiu Chen, <br />
					Computation and data driven discovery of topological phononic materials, <br />
					<a href='https://arxiv.org/abs/2006.00705' target="_blank">arXiv:2006.00705</a> (unpublished)
				</td>
			</tr>
			<tr>
				<td>2020/05/28 </td>
				<td>The first public release of TP database</td>
			</tr>
			<tr>
				<td>2020/02/12</td>
				<td> <font color="#B01F24">Recent Article Published</font> <br />
					Jiangxu Li, Lei Wang, Jiaxi Liu, Ronghan Li, Zhenyu Zhang, and Xing-Qiu Chen,<br />
					Topological phonons in graphene,<br /> 
					<a href='https://journals.aps.org/prb/abstract/10.1103/PhysRevB.101.081403' target="_blank">Phys. Rev. B <b>101</b>, 081403(R) (2020)</a>
				</td>
			</tr>
			<tr>
                                <td>2020/01/03</td>
				<td> <font color="#B01F24">Recent Article Published</font> <br />
					Jiangxu Li, Qing Xie, Jiaxi Liu, Ronghan Li, Min Liu, Lei Wang, Dianzhong Li, Yiyi Li, and Xing-Qiu Chen,<br /> 
					Phononic Weyl nodal straight lines in MgB<sub>2</sub>, <br />
					<a href='https://journals.aps.org/prb/abstract/10.1103/PhysRevB.101.024301' target="_blank">Phys. Rev. B <b>101</b>, 024301 (2020)</a>
				</td>
			</tr>
			<tr>
				<td>2019/12/26 </td>
				<td>The creation of first TP database with 5014 materials</td>
			</tr>
			<tr>
				<td>2019/09/23 </td>
				<td> <font color="#B01F24">Recent Article Published</font> <br />
					Ronghan Li, Jiangxu Li, Lei Wang, Jiaxi Liu, Hui Ma, Hai-Feng Song, Dianzhong Li, Yiyi Li, and Xing-Qiu Chen,<br />
					Underlying Topological Dirac Nodal Line Mechanism of the Anomalously Large Electron-Phonon Coupling Strength on a Be (0001) Surface,<br />
					<a href='https://journals.aps.org/prl/abstract/10.1103/PhysRevLett.123.136802' target="_blank">Phys. Rev. Lett. <b>123</b>, 136802 (2019)</a> (Editors' Suggestion)
				</td>
			</tr>
			<tr>
				<td>2019/05/16</td>
				<td><font color="#B01F24">Recent Article Published</font> <br />
					Qing Xie, Jiangxu Li, Sami Ullah, Ronghan Li, Lei Wang, Dianzhong Li, Yiyi Li, Seiji Yunoki, and Xing-Qiu Chen,<br />
					Phononic Weyl points and one-way topologically protected nontrivial phononic surface arc states in noncentrosymmetric WC-type materials,<br />
					<a href='https://journals.aps.org/prb/abstract/10.1103/PhysRevB.99.174306' target="_blank">Phys. Rev. B <b>99</b>, 174306 (2019)</a>
				</td>
			</tr>
			<tr>
				<td>2018/02/12</td>
			        <td><font color="#B01F24">Recent Article Published</font> <br />
					Jiangxu Li, Qing Xie, Sami Ullah, Ronghan Li, Hui Ma, Dianzhong Li, Yiyi Li, and Xing-Qiu Chen,<br /> 
					Coexistent three-component and two-component Weyl phonons in TiS, ZrSe, and HfTe,<br />
                                	<a href='https://journals.aps.org/prb/abstract/10.1103/PhysRevB.97.054305' target="_blank">Phys. Rev. B <b>97</b>, 054305 (2018)</a>
				</td>
			</tr>
			<tr>
				<td>2016/09/01</td>
				<td>Launch of the Topological Phononic Material Project</td>
			</tr>
		</table>
	</div>
</div>
{% endblock content %}
