{% extends 'layout.html' %}

{% macro atoms() %}
<div class="row">
  <center>
    <div id="appdiv"></div>
  </center>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-link dropdown-toggle btn-sm"
                data-toggle="dropdown">
          Unit cell <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a onclick="repeatCell(1, 1, 1);">1x1x1</a></li>
          <li><a onclick="repeatCell({{ n1 }}, {{ n2 }}, {{ n3 }});">
              {{ n1 }}x{{ n2 }}x{{ n3 }}</a></li>
        </ul>
      </div>
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-link dropdown-toggle btn-sm"
                data-toggle="dropdown">
          Download <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="/atoms/{{ p.name }}/{{ row.id }}/xyz">xyz</a></li>
          <li><a href="/atoms/{{ p.name }}/{{ row.id }}/json">json</a></li>
        </ul>
      </div>
    </div>
  <div class="col-md-1"></div>
  </div>
</div>
{% endmacro %}

{% macro cell() %}
<table class="table table-striped">
  <tbody>
    <tr>
      <td>Material_ID:</td>
	  <td>{{ d.mat_id }}</td>
    </tr>
    <tr>
      <td>Space group:</td>
	  <td>{{ d.spg }}</td>
    </tr>
    <tr>
      <td>Prototype:</td>
	  <td>{{ d.proto }}</td>
    </tr>
    <tr>
      <td>Number of nodal lines:</td>
	  <td>{{ d.lines }}</td>
    </tr>
    <tr>
      <td>Number of nodal ring points:</td>
	  <td>{{ d.ring_pts }}</td>
    </tr>
    <tr>
      <td>Number of Weyl points:</td>
	  <td>{{ d.weyl_pts }}</td>
    </tr>
    <tr>
      <td>Number of Multi-deg Weyl points:</td>
	  <td>{{ d.multi_deg_weyl_pts }}</td>
    </tr>
  </tbody>
</table>
{% endmacro %}


{% block title %}
{{ d['data']['plotly_data']['title'] }}
{% endblock %}

{% set n1, n2, n3 = d.size %}

{% block head %}
<script src="{{ url_for('static', filename='jsmol/JSmol.min.js') }}"></script>

<script>
jmol_isReady = function(applet)
{
    Jmol._getElement(applet, "appletdiv").style.border="1px solid lightgray";
    Jmol.script(jmolApplet0, "set displaycellparameters false;")
    Jmol.script(jmolApplet0,
    "load /atoms/{{ p.name }}/{{ row.id }}/cif { {{ n1 }} {{ n2 }} {{ n3 }} };");
    }
</script>

<script src="{{ url_for('static', filename='row.js') }}"></script>
{% endblock %}

{% block content %}

<div class="container">
  <h1>{{ d.formula|safe }}</h1>

  <div class="panel-group">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="btn-block" data-toggle="collapse" href="#collapse0">
          Material Information </a>
        </h4>
      </div>

      <div id="collapse0" class="panel-collapse collapse in">
        <div class="panel-body">
          <div class="row">
          	<div class="col-md-6">
              {{ cell() }}
            </div> <!--END col-md-6-->
            <div class="col-md-6">
              {{ atoms() }}
          	</div> <!--END col-md-6-->
          </div> <!--END ROW-->
        </div> <!--END PANEL BODY-->
      </div> <!--END COLLAPSE-->

      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="btn-block collapsed" data-toggle="collapse" href="#collapse1" aria-expanded="false">
          Calculation Setup</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
        <div class="panel-body">
		<table class="table table-striped">
		  <tbody>
		    <tr>
		      <td>POSCAR</td>
			  <td>INCAR</td>
			  <td>POTCAR</td>
			  <td>KPOINTS</td>
			  <td>Supercell</td>
		    </tr>
		    <tr>
					{% for key in ['POSCAR', 'INCAR', 'POTCAR', 'Kpoints', 'Supercell'] %}
		      		<td>
		  			{% for line in d['data']['calculation'][key] %}
		  			<br>{{line}}
		  			{% endfor %}
			  		</td>
		  		{% endfor %}
			  </td>
		    </tr>
		  </tbody>
		</table>
        </div> <!--END PANEL BODY-->
      </div> <!--END COLLAPSE-->



      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="btn-block collapsed" data-toggle="collapse" href="#collapse2" aria-expanded="false">
          Phonon Dispersion and DOS</a>
        </h4>
      </div>

      <div id="collapse2" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
        <div class="panel-body">
		  {{ d['data']['plotly_HTML'][80:-30]|safe }}
        </div> <!--END PANEL BODY-->
      </div> <!--END COLLAPSE-->

      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="btn-block collapsed" data-toggle="collapse" href="#collapse3" aria-expanded="false">
          Band Paths</a>
        </h4>
      </div>

      <div id="collapse3" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
        <div class="panel-body">
			<div class='row'>
				<div class='col-md-8'>
				<table class="table table-striped">
				  <tbody>
				    <tr>
				      <td>Start</td>
					  <td>End</td>
				    </tr>
						{% for cols in d['data']['path_table'] %}
				    		<tr>
				      		<td>{{ cols[0]|safe }}</td>
				      		<td>{{ cols[1]|safe }}</td>
				    		</tr>
				  		{% endfor %}
				  </tbody>
				</table>
				The diagram paths were made according to Hinuma et al, Computational Materials Science 128 (2017) 140–184.
        		</div> <!--END col-md-6-->
				<div class='col-md-4'>
						<img src="/static/images/{{d['bravais']}}.jpg" id="banner" alt="{{d['bravais']}}">
				</div>
        	</div> <!--END ROW-->
        </div> <!--END PANEL BODY-->
      </div> <!--END COLLAPSE-->


	{% for name in ['Weyl Points', 'Multi_Deg Weyl Points', 'Nodal Ring Points'] %}
		{% if d['data']['pt_tables'][loop.index-1] is not none %}
      <div class="panel-heading">
        <h4 class="panel-title">
			<a class="btn-block collapsed" data-toggle="collapse" href="#{{loop.index-1}}" aria-expanded="false">
			{{name}}
		  </a>
        </h4>
      </div>
	  <div id="{{loop.index-1}}" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
        <div class="panel-body">
		<table class="table table-striped">
		  <tbody>
		    <tr>
		      <td>Coordinates</td>
			  <td>Frequency</td>
			  <td>Mode #1</td>
			  <td>Mode #2</td>
			  <td>Multiplicity</td>
			  <td>Degeneracy</td>
			  <td>Path_id</td>
			  <td>Ratio</td>
		    </tr>
				{% for cols in d['data']['pt_tables'][loop.index-1] %}
		    		<tr>
					{% for col in cols %}
		      			<td>{{ col|safe }}</td>
		  			{% endfor %}
		    		</tr>
		  		{% endfor %}
		  </tbody>
		</table>
        </div> <!--END PANEL BODY-->
      </div> <!--END COLLAPSE-->
	  {%endif %}
  {% endfor %}
  
  <div class="panel-heading">
    <h4 class="panel-title">
      <a class="btn-block collapsed" data-toggle="collapse" href="#collapse4" aria-expanded="false">
      Comments</a>
    </h4>
  </div>
  <div id="collapse4" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
    <div class="panel-body">

		<div id="HCB_comment_box">Loading comments...</div>
        <link rel="stylesheet" type="text/css" href="/static/css/comment.css" />
 		<script type="text/javascript" id="hcb"> /*<!--*/ if(!window.hcb_user){hcb_user={};} (function(){var s=document.createElement("script"), l=hcb_user.PAGE || (""+window.location).replace(/'/g,"%27"), h="https://www.htmlcommentbox.com";s.setAttribute("type","text/javascript");s.setAttribute("src", h+"/jread?page="+encodeURIComponent(l).replace("+","%2B")+"&mod=%241%24wq1rdBcg%24gFrMaFuE7ViqSuTYHErer1"+"&opts=16862&num=10&ts=1577731528889");if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);})(); /*-->*/ </script>

    </div> <!--END PANEL BODY-->
  </div> <!--END COLLAPSE-->

    </div> <!--END PANEL-->
  </div> <!--END PANEL GROUP-->
</div>
{% endblock content %}
