
{% extends 'layout.html' %}
{% block title %}
Topological Phonon Database
{% endblock %}
{% block head %}

<script>
function update_table(sid, what, x)
{
    request = new XMLHttpRequest();
    addr ='/update/' + sid + '/' + what + '/' + x + '/'
    var inputs = document.getElementsByClassName('ase-input');
    sep = '?'

    for (var i = 0; i < inputs.length; i++) {
        addr += sep + inputs[i].name + '=' + inputs[i].value;
        sep = ',';
    }
    request.open('GET', addr, true);
    request.onload = function() {
        data = request.responseText;
        table = document.getElementById('database1')
        table.innerHTML = data;
    }
    request.send();
}
</script>

<script>
document.addEventListener('DOMContentLoaded',
                          function() {
                              update_table({{ session_id }}, 'query', '0');
                              },
                          false);
</script>
{% endblock %}

{% block content %}


<div class="container">
  <div class="row">
    <h1>{{proj}}</h1>
  </div>

<div class="row">
	<div class="col-md-7">
	<img src="{{ url_for('static', filename='logo.png') }}" width="100%" height="100%" align="middle">
	</div>
	<div class="col-md-5"><h2> Database Statistics</h2>
	<table class="table table-striped">
	<tr>
		<td>Number of Materials: </td>
		<td>5014</td>
	</tr>
	<tr>
		<td>Number of Unique Prototypes: </td>
		<td>1267</td>
	</tr>

	<tr>
		<td>Number of Unique Space Groups: </td>
		<td>152</td>
	</tr>

	<tr>
		<td>Number of Clean Materials: </td>
		<td>176</td>
	</tr>
	<tr>
		<td>Number of Nodal Lines: </td>
		<td>417565</td>
	</tr>
	<tr>
		<td>Number of Nodal Ring Points: </td>
		<td>413164</td>
	</tr>
	<tr>
		<td>Number of Weyl Points: </td>
		<td>39288</td>
	</tr>
	<tr>
		<td>Number of Multi-Weyl Points: </td>
		<td>5016</td>
	</tr>
	</table>
	</div>
</div>

  <div class="well mt-2">
    <form id="mainFormID" class="navbar-form navbar-default mt-2"
          role="search"
          action="javascript:update_table({{ session_id }}, 'query', '0')">
      <div class="form-group" style="margin-top:5px;">
        <input type="text" name="query" id="formula-result"
               class="form-control mt-2 ase-input"
               placeholder="Search formula e.g. NaCl" size="60">
        <button type="submit" class="btn btn-default">
          <i class="fa fa-search fa-1x" aria-hidden="true"></i>
        </button>
      </div><br/>
{% block search %}
      <style>
        table.search {
          border-collapse: separate;
          border-spacing: 0.5em 1em;
        }
        #dropdown {
          width: 100%;
        }
      </style>
        
        <table class="search">
          <td>Prototypes</td><td>:</td>
          <td colspan="3">
            <select name="proto" class="ase-input" id="dropdown">
                  <option value="_"></option>
                  <option value="A1-FCC">A1-FCC</option>
                  <option value="A2-BCC">A2-BCC</option>
                  <option value="A3-HCP">A3-HCP</option>
                  <option value="A4-Diamond">A4-Diamond</option>
                  <option value="B1-NaCl">B1-NaCl</option>
                  <option value="B2-CsCl">B2-CsCl</option>
                  <option value="B3-ZnS">B3-ZnS</option>
                  <option value="B4-AlN">B4-AlN</option>
                  <option value="B20-FeSi">B20-FeSi</option>
                  <option value="B81-NiAs">B81-NiAs</option>
                  <option value="C1-CaF2">C1-CaF2</option>
                  <option value="C2-FeS2">C2-FeS2</option>
                  <option value="C14-MgZn2">C14-MgZn2</option>
                  <option value="C15-MgCu2">C15-MgCu2</option>
                  <option value="L12-Cu3Au">L12-Cu3Au</option>
                  <option value="D03-BiF3">D03-BiF3</option>
                  <option value="A15-Cr3Si">A15-Cr3Si</option>
                  <option value="D51-Al2O3">D51-Al2O3</option>
                  <option value="C1b-MgAgAs">C1b-MgAgAs</option>
                  <option value="Ca2BrN">Ca2BrN</option>
                  <option value="hR10-Calcite">hR10-Calcite</option>
                  <option value="Ho2CF2">Ho2CF2</option>
              </select>
            </td>
          <tr>
            <td>Z</td><td>:</td>
            <td>
              <input type="text" name="from_z" value="" size="1" class="ase-input">
            </td>
            <td>-</td>
            <td>
              <input type="text" name="to_z" value="" size="1" class="ase-input">
            </td>
		    </tr>
        <tr>
          <td>Space Group</td><td>:</td>
          <td>
            <input type="text" name="from_spgnum" value="" size="1" class="ase-input">
          </td>
          <td>-</td>
          <td>
            <input type="text" name="to_spgnum" value="" size="1" class="ase-input">
          </td>
        </tr>
          <tr>
            <td>Clean Materials</td><td>:</td>
          <td colspan="3">
		  	<select name="clean" class="ase-input" id="dropdown">
              <option value="_"></option>
              <option value="True">Clean Materials Only</option>
        	</select>
          </td>
		  </tr>
        </table>
{% endblock search %}

      <!--<div class="form-group" style="margin-bottom:0px;">
        <small class="form-text text-muted">
          <a href="https://wiki.fysik.dtu.dk/ase/ase/db/db.html#querying"
             target="_blank">
            Help with constructing advanced search queries ...
          </a>
        </small>
      </div><br/>
      {# Flash query messages #}
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="list-group">
          {% for message in messages %}
            <li class="list-group-item list-group-item-warning">{{ message }}
            </li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}

      <small lcass="form-text text-muted">
      <a data-toggle="collapse" href="#collapse1">Toggle list of keys ...</a>
      </small><br/>
      <div id="collapse1" class="collapse">
        <table class="table table-striped">
        {% for key, (short, long, unit) in p.key_descriptions.items() %}
          <tr><td>{{ key }}</td><td>{{ long }}</td><td>{{ unit|safe }}</td></tr>
        {% endfor %}
        </table>
		</div> -->
    </form>
  </div>

  <div id="database1"></div>

</div> <!-- class="container" -->

{% endblock content %}
