#HCB_comment_box{
    line-height:1.6;
    font-weight:400;
    font-family:Helvetica,Arial,sans-serif;
    color:#222
}
#HCB_comment_box p{
    margin-top:0
}
#HCB_comment_box a{
    color:#aa1819
}
#HCB_comment_box a:hover{
    color:#484d51
}
#HCB_comment_box .button,
#HCB_comment_box button,
#HCB_comment_box input[type=submit],
#HCB_comment_box input[type=reset],
#HCB_comment_box input[type=button]{
    display:inline-block;
    height:38px;
    padding:0 30px;
    color:#fff;
    text-align:center;
    font-size:11px;
    font-weight:600;
    line-height:38px;
    letter-spacing:.1rem;
    text-transform:uppercase;
    text-decoration:none;
    white-space:nowrap;
    background-color:#aa1819;
    border-radius:4px;
    border:1px solid #aa1819;
    cursor:pointer;
    box-sizing:border-box
}
#HCB_comment_box .button:hover,
#HCB_comment_box button:hover,
#HCB_comment_box input[type=submit]:hover,
#HCB_comment_box input[type=reset]:hover,
#HCB_comment_box input[type=button]:hover,
#HCB_comment_box .button:focus,
#HCB_comment_box button:focus,
#HCB_comment_box input[type=submit]:focus,
#HCB_comment_box input[type=reset]:focus,
#HCB_comment_box input[type=button]:focus{
    color:#eeeeee;
    border-color:#484d51;
    background-color:#484d51;
    outline:0
}
#HCB_comment_box .button.button-primary,
#HCB_comment_box button.button-primary,
#HCB_comment_box input[type=submit].button-primary,
#HCB_comment_box input[type=reset].button-primary,
#HCB_comment_box input[type=button].button-primary{
    color:#fff;
    background-color:#aa1819;
    border-color:#aa1819
}
#HCB_comment_box .button.button-primary:hover,
#HCB_comment_box button.button-primary:hover,
#HCB_comment_box input[type=submit].button-primary:hover,
#HCB_comment_box input[type=reset].button-primary:hover,
#HCB_comment_box input[type=button].button-primary:hover,
#HCB_comment_box .button.button-primary:focus,
#HCB_comment_box button.button-primary:focus,
#HCB_comment_box input[type=submit].button-primary:focus,
#HCB_comment_box input[type=reset].button-primary:focus,
#HCB_comment_box input[type=button].button-primary:focus{
    color:#fff;
    background-color:#aa1819;
    border-color:#aa1819}
#HCB_comment_box input[type=email],
#HCB_comment_box input[type=number],
#HCB_comment_box input[type=search],
#HCB_comment_box input[type=text],
#HCB_comment_box input[type=tel],
#HCB_comment_box input[type=url],
#HCB_comment_box input[type=password],
#HCB_comment_box textarea,
#HCB_comment_box select{
    height:38px;
    padding:6px 10px;
    background-color:#fff;
    border:1px solid #d1d1d1;
    border-radius:4px;
    box-shadow:none;
    box-sizing:border-box}
#HCB_comment_box input[type=email],
#HCB_comment_box input[type=number],
#HCB_comment_box input[type=search],
#HCB_comment_box input[type=text],
#HCB_comment_box input[type=tel],
#HCB_comment_box input[type=url],
#HCB_comment_box input[type=password],
#HCB_comment_box textarea{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none
}
#HCB_comment_box textarea{
    min-height:65px;
    padding-top:6px;
    padding-bottom:6px
}
#HCB_comment_box input[type=email]:focus,
#HCB_comment_box input[type=number]:focus,
#HCB_comment_box input[type=search]:focus,
#HCB_comment_box input[type=text]:focus,
#HCB_comment_box input[type=tel]:focus,
#HCB_comment_box input[type=url]:focus,
#HCB_comment_box input[type=password]:focus,
#HCB_comment_box textarea:focus,
#HCB_comment_box select:focus{
    border:1px solid #aa1819;
    outline:0
}
#HCB_comment_box label,
#HCB_comment_box legend{
    display:block;
    margin-bottom:.5rem;
    font-weight:600;
    max-width:none
}
#HCB_comment_box fieldset{
    padding:0;
    border-width:0
}
#HCB_comment_box input[type=checkbox],
#HCB_comment_box input[type=radio]{
    display:inline}
#HCB_comment_box label>.label-body{
    display:inline-block;
    margin-left:.5rem;
    font-weight:400
}
#HCB_comment_box ul{
    list-style:circle inside
}
#HCB_comment_box ol{
    list-style:decimal inside
}
#HCB_comment_box ol,
#HCB_comment_box ul{
    padding-left:0;
    margin-top:0
}
#HCB_comment_box ul ul,
#HCB_comment_box ul ol,
#HCB_comment_box ol ol,
#HCB_comment_box ol ul{
    margin:1.5rem 0 1.5rem 3rem;
    font-size:90%
}
#HCB_comment_box li{
    margin-bottom:1rem
}
#HCB_comment_box code{
    padding:.2rem .5rem;
    margin:0 .2rem;
    font-size:90%;
    white-space:nowrap;
    background:#f1f1f1;
    border:1px solid #e1e1e1;
    border-radius:4px
}
#HCB_comment_box pre>code{
    display:block;
    padding:1rem 1.5rem;
    white-space:pre
}
#HCB_comment_box th,
#HCB_comment_box td{
    padding:12px 15px;
    text-align:left;
    border-bottom:1px solid #e1e1e1
}
#HCB_comment_box th:first-child,
#HCB_comment_box td:first-child{
    padding-left:0
}
#HCB_comment_box th:last-child,
#HCB_comment_box td:last-child{
    padding-right:0
}
#HCB_comment_box button,
#HCB_comment_box .button{
    margin-bottom:1rem
}
#HCB_comment_box input,
#HCB_comment_box textarea,
#HCB_comment_box select,
#HCB_comment_box fieldset{
    margin-bottom:1.5rem
}
#HCB_comment_box pre,
#HCB_comment_box blockquote,
#HCB_comment_box dl,
#HCB_comment_box figure,
#HCB_comment_box table,
#HCB_comment_box p,
#HCB_comment_box ul,
#HCB_comment_box ol,
#HCB_comment_box form{
    margin-bottom:1rem
}
#HCB_comment_box .u-full-width{
    width:100%;
    box-sizing:border-box
}
#HCB_comment_box .u-max-full-width{
    max-width:100%;
    box-sizing:border-box
}
#HCB_comment_box .u-pull-right{
    float:right
}
#HCB_comment_box .u-pull-left{
    float:left
}
#HCB_comment_box hr{
    margin-top:3rem;
    margin-bottom:3.5rem;
    border-width:0;
    border-top:1px solid #e1e1e1
}
#HCB_comment_box .container:after,
#HCB_comment_box .row:after,
#HCB_comment_box .u-cf{
    content:"";
    display:table;
    clear:both
}