::selection {
  background:#333;
  color:#fff;
}
::-moz-selection {
  background:#333;
  color:#fff;
}
a{
  color:#aa1819
}
a:hover{
  color:#484d51
}
.navbar-nav {
  padding-left: 20px;
}
.navbar-default .navbar-nav>li>a {
  color: #aa1819;
}
.navbar-default .navbar-nav>li>a:hover {
  color: #484d51;
}
.navbar-brand img{
  width: 285px;
  margin-top: -8px;
}
.top-pushdown {
  padding-top: 13px;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  background-color: #aa1819;
  border-color: #aa1819;
}
.pagination>li>a, .pagination>li>span {
  color: #aa1819;
}
.pagination>li>a:hover {
  color: #484d51;
}
.btn-link {
  color: #aa1819;
}
.btn-link:hover {
  color: #484d51;
}
button:focus, input:focus, select:focus, textarea:focus{
  border:1px solid #aa1819;
  outline:0
}
.form-control:focus {
  border-color: #aa1819;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(226, 92, 92, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(226, 92, 92, 0.6);
}
.container-fluid {
  background-color: #fff;
  padding: 50px;
  margin-right: auto;
  margin-left: auto;
  color: #484d51;
}
}
.myrow {
font-size: 0;
}
.myrow > * {
float: none;
display: inline-block;
font-size: 14px; /* if using LESS it's quicker to just use @font-size-base */
cursor: pointer;
}
.myrow > *:nth-last-child(2) {
vertical-align: bottom;
}
.myrow p:nth-last-child(2) {
margin-bottom: 0; /* optional */
}
.col-centered{
float: none;
margin: 0 auto;
}
.ui-autocomplete {
        max-height: 200px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
}
.item:hover .media-object {
    height: 70px;
    width: 140px;
}
#rowentry {
  background-color: #FFFFFF;
}
#rowentry:hover {
  background-color: #DDDDDD;
}
tr.rowentry > td > a {
  color: #000000;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}
/* Container holding the image and the text */
.container {
  position: relative;
}
.text-block {
  position: absolute;
  top: 20px;
  left: 35px;
  background-color: rgba(170, 24, 25, 0.8);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
.carousel-caption {
  background-color: rgba(170, 24, 25, 0.8);
  color: white;
  text-align: left;
  width: 350px;
  height: 125px;
  padding-left: 20px;
  left: 20px;
  bottom: 20px;
}
.carousel-indicators {
  bottom: -30px;
}
.carousel-indicators li {
  border: 1px solid #aa1819;
}
.carousel-indicators .active {
  background-color: #aa1819;
}
#banner {
  width:100%;
}
#count {
  padding-top: 20px;
  color: #FFFFFF;
}
#stats-block {
  background-color: #aa1819;
}
.stats-1 {
  font-size: 32pt;
  font-weight: bold;
  color: #eeeeee;
}
p {
  color: #cccccc;
  font-size: 12pt;
}
.counter-wrapper {
  vertical-align: middle;
}
#stat-top {
  padding-top: 50px;
  padding-bottom: 25px;
}
#stat-bot {
  padding-top: 25px;
  padding-bottom: 50px;
}
#title {
  width: 100%;
}
.carousel-control.left {
  background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,.0001) 100%);
}
.carousel-control.right {
  background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,.0001) 100%);
}
.btn-lg {
  font-size: xx-large;
  margin: auto;
}
.logo {
  color: ##fff;
  font-size: xx-large;
}
.logo-small {
  color: ##fff;
  font-size: xx-large;
}
#search h1{
  font-size: 50pt;
  color: #aa1819;
  line-height: 150px;
}
table.search {
  border-collapse: separate;
  border-spacing: 0.5em 1em;
}
#dropdown {
  width: 100%;
}

/* Mobile viewports */
@media only screen and (max-width: 768px) {
  .text-block {
    width: 250px;
  }
  #banner {
    min-height: 200px;
    object-fit: cover;
  }
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
  #search h1{
    line-height: unset;
  }
}