a{
  color:#aa1819
}

a:hover{
  color:#484d51
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  background-color: #aa1819;
  border-color: #aa1819;
}

.pagination>li>a, .pagination>li>span {
  color: #aa1819;
}

.pagination>li>a:hover {
  color: #484d51;
}

.btn-link {
  color: #aa1819;
}

.btn-link:hover {
  color: #484d51;
}

button:focus, input:focus, select:focus, textarea:focus{
  border:1px solid #aa1819;
  outline:0
}

.form-control:focus {
  border-color: #aa1819;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(226, 92, 92, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(226, 92, 92, 0.6);
}

.myrow {
font-size: 0;
}
.myrow > * {
float: none;
display: inline-block;
font-size: 14px; /* if using LESS it's quicker to just use @font-size-base */
cursor: pointer;
}
.myrow > *:nth-last-child(2) {
vertical-align: bottom;
}
.myrow p:nth-last-child(2) {
margin-bottom: 0; /* optional */
}

.col-centered{
float: none;
margin: 0 auto;
}

.ui-autocomplete {
        max-height: 200px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
}

.item:hover .media-object {
    height: 70px;
    width: 140px;
}

#rowentry {background-color: #FFFFFF;}
#rowentry:hover {background-color: #DDDDDD;}
tr.rowentry > td > a {
  color: #000000;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}
